# Ambiente virtual do Python
.venv/

# Arquivos de cache do Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos temporários do Jupyter
.ipynb_checkpoints/

# Configurações locais do VS Code
.vscode/

# Arquivos temporários do sistema operacional
.DS_Store
Thumbs.db

# Arquivos de log e temporários
*.log
*.tmp
